<h1>Rafraîchissement des formations</h1>
<div class="trainings">
  <mat-progress-bar *ngIf="isLoading$ | async; else trainings" mode="indeterminate"></mat-progress-bar>
  <ng-template #trainings>
    <div class="training" *ngFor="let training of trainings$ | async">
      <span>{{ training.name }}</span>
    </div>
  </ng-template>
</div>
<a mat-raised-button color="primary" href="https://lucca.ilucca.net/talent-training/training" target="_blank">Consulter les formations</a>
<div class="refresh-cards" *ngIf="refreshEvent$ | async as refreshEvent">
  <app-visibilitychange-refresh-card [refreshEvent]="refreshEvent"></app-visibilitychange-refresh-card>
  <app-focus-refresh-card [refreshEvent]="refreshEvent"></app-focus-refresh-card>
</div>